{% extends 'base.html' %}

{% block title %}
Про магазин
{% endblock %}



{% block content %}
<div class="container">
    <h3>Про магазин</h3>
    <p>Использование современных методов торговли, наряду с правильной организацией труда, облегчает совершение покупок и делает посещение магазина приятным. Широкий ассортимент представленных товаров удовлетворит даже взыскательных покупателей, а программа лояльности и постоянные скидки приятно удивят и помогут сэкономить семейный бюджет.</p>
<img src="img/img.png">

</div>

{% endblock %}



